@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --putih: #f5f6ff;
  --biruUngu: #6875f2;
  --biruTengah: #1c2ecd;
  --biruTua: #051287;

}

/* test commit */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#services {
  text-align: center;
  padding: 0rem 2rem;
}

#services .heading-title {
  margin-bottom: 2rem;
  padding-top: 2rem;
}

#services h4 {
  margin: 1.25rem 0rem 0rem 0rem;
}

#services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

#services .box-container .box {
  padding: 2rem 2rem;
  background-color: var(--biruUngu);
  border-radius: 2rem;
}

.w-450 {
  width: 450px;
}
.vh-100 {
  min-height: 100vh;
}

/* Home About CSS Start*/
.home-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-about .image {
  flex: 1 1 41rem;
  /* Test */
  position: relative;
  margin: auto;
}

.home-about .image img {
  width: 100%;
  vertical-align: middle;
}

.home-about .content {
  flex: 1 1 41rem;
  padding: 3rem;
  background: var(--light-bg);
}

.home-about .content h3{
  font-size: 3rem;
  color: var(--biruTua);
}

.home-about .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--biruTua);
}

.mySlides {
  display: none;
}

.active {
  background-color: #717171;
}
  
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 10s;
}
  
@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}
/* Home About CSS End */

@media only screen and (max-width: 767px) {
  /* CSS styles for mobile devices */
  /* Example: */
}
