@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --putih: #f5f6ff;
  --biruUngu: #6875f2;
  --biruTengah: #1c2ecd;
  --biruTua: #051287;
}

/* test commit */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#services {
  text-align: center;
  padding: 2rem 2rem;
  margin: 100px 0;
}

#services .heading-title {
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-weight: bold;
}

#services h4 {
  color: var(--putih);
  margin: 1.25rem 0rem 0rem 0rem;
}

#services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

#services .box-container .box {
  padding: 2rem 2rem;
  background-color: var(--biruUngu);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.w-450 {
  width: 450px;
}
.vh-100 {
  min-height: 100vh;
}

.hero {
  padding: 10rem;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/team-doctors.jpg");
  background-size: cover;
  background-position: center;
  height: 700px; /* Adjust the height as needed */

  text-align: center;
  justify-content: center;
  align-items: center;

  color: var(--putih);
}

.hero-section {
  margin-top: 5rem;
  position: relative;
  text-align: center;
  z-index: 2;

  transition: opacity 0.5 ease-in;
}

.hero-section .p-hero-selection {
  font-size: 2rem !important;
}

.hero-section .h1-hero-selection {
  font-size: 4rem !important;
  font-weight: bold;
}

.hero-section button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: var(--biruUngu);

  color: var(--putih);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hero-section button:hover {
  background-color: #525baf;
  font-weight: bold;
}

.offer {
  font-weight: bold;
  text-align: center;
  background-color: var(--biruUngu);
  align-items: center;

  padding: 5rem 10%;
  color: var(--putih);
}

.offer p {
  font-weight: 500;
}

.offer button {
  padding: 1rem 2rem;
  border: none;
  background-color: var(--putih);
  color: var(--biruUngu);
  font-weight: bold;
}

.offer button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 767px) {
  /* CSS styles for mobile devices */
  /* Example: */
}
