@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --putih: #f5f6ff;
  --biruUngu: #6875f2;
  --biruTengah: #1c2ecd;
  --biruTua: #051287;
}

/* test commit */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#services {
  text-align: center;
  padding: 2rem 2rem;
  margin: 100px 0;
}

#services .heading-title {
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-weight: bold;
}

#services h4 {
  color: var(--putih);
  margin: 1.25rem 0rem 0rem 0rem;
}

#services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

#services .box-container .box {
  padding: 2rem 2rem;
  background-color: var(--biruUngu);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.w-450 {
  width: 450px;
}
.vh-100 {
  min-height: 100vh;
}

.hero {
  padding: 10rem !important;
  display: flex !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/team-doctors.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  height: 700px !important; /* Adjust the height as needed */

  text-align: center !important;
  justify-content: center!important;
  align-items: center !important;

  color: var(--putih) !important;
}

.hero-section {
  margin-top: 5rem !important;
  position: relative !important;
  text-align: center !important;
  z-index: 2 !important;

  transition: opacity 0.5 ease-in !important;
}

.hero-section p {
  font-size: 1.5rem !important; 
}

.hero-section h1 {
  font-size: 4rem !important;
  font-weight: bold !important;
}

.hero-section .p-hero-selection {
  font-size: 2rem !important;
}

.hero-section .h1-hero-selection {
  font-size: 4rem !important;
  font-weight: bold;
}

.hero-section button {
  border: none !important;
  padding: 1rem 2rem !important;
  border-radius: 2rem !important;
  background-color: var(--biruUngu) !important;

  color: var(--putih) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
.hero-section button:hover {
  background-color: #525baf !important;
  font-weight: bold !important;
}

.offer {
  font-weight: bold !important;
  text-align: center !important;
  background-color: var(--biruUngu) !important;
  align-items: center !important;

  padding: 5rem 10% !important;
  color: var(--putih) !important;
}

.offer p {
  font-weight: 500 !important;
}

.offer button {
  padding: 1rem 2rem !important;
  border: none !important;
  background-color: var(--putih) !important;
  color: var(--biruUngu) !important;
  font-weight: bold !important;
}

.offer button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

@media only screen and (max-width: 767px) {
  /* CSS styles for mobile devices */
  /* Example: */
}
